ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(1, 48px); /* You can adjust the height of the rows as needed */
}

ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}