.form {
    height: 80vh;
    width: 75%;
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    max-width: 800px;
    padding: 2vw 4vw;
    flex-direction: column;
    border: 1px solid lightgrey;
}

form input, form textarea {
    border: 0;
    margin: 10px 0;
    padding: 20px;
    outline: none;
    font-family: 'Lato', sans-serif;
}

.copy {
    text-align: center;
    margin: 20px auto;
    border: 1px solid lightgrey;
}