.hero {
    height: 80vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid lightgrey;
}

.hero .content {
    left: 0;
    padding: 25px;
    width: 75%;
    border: 1px solid black;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 5px;
}

.hero h2 {
    font-size: 1.75rem;
    margin-bottom: 10px;
}