.info {
    display: flex;
    margin: 0 auto;
    max-width: 800px;
    align-items: center;
    justify-content: center;
}

.info h2 {
    font-size: 1.75rem;
}

.info p {
    font-size: 1.3rem;
}

.info li {
    font-size: 1.1rem;
    font-weight: 600;
    color: #555;
}

.info .content {
    padding: 25px;
    /*width: 75%;*/
    border: 1px solid lightgrey;
}

.info img {
    height: 36px;
    width: 36px;
    margin: 15px 5px 15px 0;
}

.info ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    flex-wrap: wrap;
}

.info li {
    background: #eee;
    margin: 10px 10px 0 0;
    padding: 10px 15px;
}