.hero {
    justify-content: center;
    align-items: center;
    text-align: center;
}
  
.hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}
  
.hero h2, .skills h2, .about h2 {
    font-size: 1.75rem;
}

.skills ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
}

.skills li {
    background-color: rgb(235, 235, 235);
    border-radius: 5px;
    margin: 5px;
    padding: 10px;
}

.btn {
    background: rgb(235, 235, 235);
    color: rgb(25, 25, 25);
    border: 1.5px solid rgb(25, 25, 25);
    padding: 1rem 2rem;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.075s ease;
}

.btn:hover {
    background: rgb(25, 25, 25);
    color: rgb(235, 235, 235);
}
