@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}

.socials img {
    height: 2em;
}
/*
* {
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

nav {
    width: 80vw;
    top: 0;
    z-index: 100;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    align-items: center;
    margin: 0;
}

nav ul li {
    width: 25%;
    display: inline-flex;
    justify-content: center;
    padding: 1.5em;
    margin: 0;
    font-weight: 600;
}

nav ul li a {
    text-decoration: none;
    color: #222;
    font-size: 1em;
    font-weight: 600;
    display: block;
    text-align: center;
    width: 100%;
}

nav ul li a:hover {
    background-color: #eee;
}

@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: row;
    }

    nav ul li {
        width: 100%;
    }

    nav ul li a {
        padding: 0.5em;
        font-size: 0.9em;
    }
}

main {
    margin-top: 100px;
    padding: 0 90px;
    font-size: 18px;
    text-align: justify;
}

main section img {
    width: 80vw;
    height: auto;
    border-radius: 25px;
}

.dark-bg {
    background-color: #222;
    min-height: 100vh;
}

.socials img {
    height: 32px;
    width: auto;
}

main section {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main h1, main h2, main h3 {
    color: #333;
    font-size: 2.25em;
    margin-bottom: 10px;
}

main p {
    line-height: 1.6;
    color: #666;
}

main a {
    color: #007BFF;
    text-decoration: none;
}

main a:hover {
    text-decoration: underline;
}

footer {
    padding: 1.5em 1em;
    text-align: center;
    width: 100%;
    bottom: 0;
}
*/