@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10vh 0;
}

main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    width: 75%;
    border: 2px dotted #555;
}

img {
    display: inline-block;
    height: 32px;
    width: auto;
}

ul {
    margin: 15px 0;
}

form {
    display: block;
    margin: 15px 0;
}

textarea, input {
    width: 100%;
    padding: 10px;
    display: block;
    font-family: 'Poppins', sans-serif;
}