:root   { --text: #111111; --grey: #aaaaaa; }
*       { margin: 0; padding: 0; box-sizing: border-box; }
body    { color: var(--text); font-family: "Open Sans", system-ui, sans-serif; }
a       { color: var(--text); text-decoration: none; }
main    { max-width: 1000px; margin: 0 auto; padding: 1rem 0; }

.bento          { display: grid; gap: 1rem; grid-template-columns: repeat(4, 1fr); margin-bottom: 1rem; }
.bento-item     { border: 1px solid var(--grey); padding: 1rem; }
.bento-item h3  { font-size: 0.9rem; margin-bottom: 0.5rem; text-transform: uppercase; }
.bento-item p   { font-size: 0.9rem; }
.bento-wide     { grid-column: span 2;}

.two-col-sticky                 { display: flex; gap: 1rem; font-size: 0.9rem; /* border: 1px solid var(--grey); padding: 1rem; */ }
.sidebar                        { flex: 1; position: sticky; top: /*80px;*/ 1rem; border: 1px solid var(--grey); padding: 1rem ; height: fit-content; }
.content                        { flex: 2; }
.content p:not(:last-child)     { margin-bottom: 1rem; }

/*

file:///home/cass/Documents/Business/main_websites/cassandracarlos.github.io/index.html
file:///home/cass/Documents/Business/main_websites/simple-geometry.github.io/index.html