@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600&display=swap');

* {
   margin: 0;
   box-sizing: border-box;
}

:root {
   --font-body: "Work Sans", Arial, Helvetica, sans-serif;
   --font-header: "Montserrat", Arial, Helvetica, sans-serif;
   --colour-bg: #fefefe;
   --colour-text: #5e5e5a;
   --colour-accent: #cb0a51;
   --colour-bold: #212121;
   --colour-caption: #a5a59c;
   --image-radius: 12px;
   --small-gap: 10px;
   --large-gap: 20px;
}

body {
   font-family: var(--font-body);
   line-height: 1.5;
   color: var(--colour-text);
   background-color: var(--colour-bg);
}

h1, h2, h3 {
   font-family: var(--font-header);
   color: var(--colour-bold);
}

nav {
   display: grid;
   grid-template-columns: 1fr 1fr;
   align-items: center;
   padding: 1rem 2rem;
   border-bottom: 1px solid var(--colour-caption);
}

nav .pages {
   gap: var(--large-gap);
   display: flex;
   justify-content: flex-start;
}

nav .pages a {
   text-decoration: none;
   color: var(--colour-text);
}

nav .pages a.active {
   color: var(--colour-bold);
   border-bottom: 1px solid var(--colour-text);
}

nav .pages a.inactive {
   position: relative;
   text-decoration: none;
   color: var(--colour-bold);
}

nav .pages a.inactive::after {
   content: "";
   position: absolute;
   left: 50%;
   bottom: 0px;
   width: 0;
   height: 1px;
   background: var(--colour-text);
   transition: all 0.2s ease;
   transform: translateX(-50%);
}

nav .pages a.inactive:hover::after {
   width: 100%;
}

nav .socials {
   gap: var(--small-gap);
   display: flex;
   justify-content: flex-end;
}

nav .socials img {
   width: 24px;
   height: 100%;
   filter: opacity(60%);
   transition: all 0.025s ease;
}

nav .socials img:hover {
   filter: opacity(90%);
   /*transform: translateY(-2px);*/
}

header {
   padding: 1rem 2rem;
   /*border-bottom: 1px solid var(--colour-caption);*/
}

main {
   padding: 1rem 2rem;
   border-bottom: 1px solid var(--colour-caption); 
}

footer {
   padding: 1rem 2rem;
   text-align: center;
}