* {
    box-sizing: border-box;
}

/* START */

.container {
    margin: 0 auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.column {
    background-color: #fff;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }
}

/* END */