/* Header */
nav {
    display: flex;
    padding: 10px 10vw;
    align-items: center;
    justify-content: flex-end;
    box-shadow: 0 1px 8px #ddd;
}

nav h1 {
    margin-right: auto;
}

nav li {
    padding-left: 50px;
    list-style: none;
    display: inline-block;
}