<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style copy.css">
    <title>Your Name - Portfolio</title>
</head>
<body>
    <main>
		<div>
			<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/react/react-original.svg" />
			<p>React.js</p>
		</div>
		<div>
			<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-plain.svg" />
			<p>JavaScript</p>
		</div>
		<div>
			<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-plain.svg" />
			<p>CSS 3</p>
		</div>
    </main>
</body>
</html>
