<head>
    <link rel="stylesheet" href="nav-style.css">
    <link rel="stylesheet" href="nav-plain.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<div class="plain">
<label for="check" class="bars">
    <i class="fas fa-bars"></i>
</label>
<label class="logo">Logo</label>
<ul>
    <li class="active" href="">
        <a>Link 1</a>
    </li>
    <li href="">
        <a>Link 2</a>
    </li>
    <li href="">
        <a>Link 3</a>
    </li>
    <li href="">
        <a>Link 4</a>
    </li>
</ul>
</div>