@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Merriweather Sans', Arial, Helvetica, sans-serif;
    flex-direction: column;
}
main {
    display: flex;
}
main, footer p {
    max-width: 1000px;
    margin: 0 auto;
}
@media only screen and (max-width: 1000px) {
    .column-left, .column-right {
        flex: 100%;
    }
}
small {
    color: #555555;
}
.column-left {
    flex: 60%;
}
.column-right {
    flex: 40%;
}
.social-link img {
    height: 24px;
    width: auto;
    vertical-align: middle;
}
.about a {
    color: rgb(17, 43, 149);
}
.about a:hover {
    color: rgb(87, 123, 255);
}
.project img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
.project a img:hover {
    filter: brightness(85%);
    transition: .095s;
}
.divider {
    height: 1px;
    width: 100%;
    background-color: #aaa;
}