form {
    background: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}
form h3 {
    font-weight: 800;
    margin-bottom: 20px;
}
input, textarea {
    padding: 10px;
    margin-bottom: 10px;
}
button {
    padding: 10px 0;
}