@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
* {
    margin: 0;
    padding: 0;
}
body, form input, form textarea {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}
.social-link {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;
}
.social-link img {
    height: 24px;
    width: auto;
    vertical-align: middle;
}
.social {
    margin-bottom: 25px;
}
main {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 25px auto;
    min-height: 100vh;
}
header img {
    min-height: 60vh;
    max-height: 60vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.container {
    display: flex;
}
.column-left {
    flex: 60%;
    padding: 25px;
}
.about-me {
    top: 10px;
    position: sticky;
    /*font-size: 1.15em;*/
}
.about-me p {
    margin-bottom: 15px;
}
.column-right {
    flex: 40%;
    padding: 25px;
}
.project img {
    border-radius: 10px;
    width: 100%;
    height: auto;
    /*margin-bottom: 5px;
    border: 1px #eee solid;*/
}
/*
.project {
    margin-bottom: 30px;
}
form {
    background: #fff;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    padding: 0 25px;
}
input {
    width: 100%;
    box-sizing: border-box;
}
@media (min-width: 600px) {
    .form-input {
        flex-direction: row;
        align-items: flex-start;
    }
}
form h3, form p {
    margin-bottom: 20px;
}
input, textarea {
    padding: 10px;
    margin-bottom: 10px;
}
button {
    padding: 10px 0;
}
*/
.divider {
    height: 1px;
    width: 100%;
    background-color: #aaa;
}
.copyright {
    max-width: 1000px;
    margin: 0 auto;
}
.copyright p {
    margin: 10px 0 10px 25px;
}